// variabili di colori 
$bkg-litghBlue:#F3F7F5; 
$details-color:#0286B6;
$btn-color: #F577CF;



// STYLE HOME PAGE
@import "../index.scss";
@import "../pages/homepage/homepage.scss";

// STYLE LOGIN
@import "../pages/login/login.scss"
