header {
  height: 8vh; }
  header .container-header {
    height: 100%;
    padding: 0 20px; }
    header .container-header .logo {
      font-size: 1.2rem;
      font-weight: 600;
      color: #0286B6; }
    header .container-header .help {
      font-size: 1rem;
      font-weight: 600; }

main {
  height: 92vh; }

#homepage {
  background-color: #F3F7F5;
  display: flex;
  height: 100%; }
  #homepage .card {
    width: 80%;
    margin: auto;
    border: 4px solid #0286B6;
    border-radius: 20px;
    overflow: hidden; }
    #homepage .card .card-body {
      text-align: center; }
      #homepage .card .card-body .title-card {
        font-size: 2rem;
        font-weight: 600;
        color: #0286B6; }
      #homepage .card .card-body .sub-title {
        font-size: 1.2rem;
        font-weight: 600; }
      #homepage .card .card-body .parh-card {
        margin-top: 20px;
        font-style: italic; }
      #homepage .card .card-body .btn {
        background-color: #F577CF;
        color: black;
        font-weight: 600;
        display: block;
        margin: 20px auto; }
        #homepage .card .card-body .btn a {
          text-decoration: none;
          color: unset; }
    #homepage .card .card-image {
      width: 50%;
      display: none; }
      #homepage .card .card-image img {
        width: 100%;
        object-fit: cover; }
  @media screen and (min-width: 1000px) {
    #homepage .card {
      width: 90%;
      display: flex;
      flex-direction: row; }
      #homepage .card .card-body {
        width: 50%;
        border-right: 3px solid #0286B6; }
      #homepage .card .card-image {
        display: flex; } }

#login {
  background-color: #F3F7F5;
  display: flex;
  height: 100%; }
  #login .card {
    width: 80%;
    margin: auto;
    border: 4px solid #0286B6;
    border-radius: 20px;
    overflow: hidden; }
