#homepage {
    background-color: $bkg-litghBlue;
    display: flex;
    height: 100%;

    .card {
        width: 80%;
        margin: auto;
        border: 4px solid $details-color;
        border-radius: 20px;
        overflow: hidden;


        .card-body {
            text-align: center;

                .title-card {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $details-color;
                }

                .sub-title {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                .parh-card {
                    margin-top: 20px;
                    font-style: italic;

                }

                .btn {
                    background-color: $btn-color;
                    color:black;
                    font-weight: 600;
                    display: block;
                    margin: 20px auto;

                    a {
                        text-decoration: none;
                        color: unset;

                    }
                }
        }

        .card-image {
            width: 50%;
            display: none;
            
            img {
                width: 100%;
                object-fit: cover;
                
            }
        }

        
    }

    @media screen and (min-width: 1000px) {
        
        .card {
            width: 90%;
            display: flex;
            flex-direction: row;

            .card-body {
                width: 50%;
                border-right: 3px solid $details-color;
            }

            .card-image {
                display: flex;

            }
        }

    }
}